.login-form {
    display: flex;
    flex-direction: column;
}

.user-form-container {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-link {
    font-weight: bold;
    text-decoration: none;
}